<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <title>The F.R.E.D. System!</title>
</head>

<body>
  <!--STYLING--------------------------------------------------------------------------------------------- -->

  {{ if .Notsignedin }}
  <br />
  <h1>The F.R.E.D. Banking System!</h1>
  <h2>Friendship, Reliability, Experience, Drive</h2>
  <br />
  <div class="container pr-3 pl-3">
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="inputUsernamee" placeholder="Username" />
      </div>
      <div class="form-group">
        <label for="inputPassword4">Password</label>
        <input type="password" name="pw" class="form-control" id="inputPassword4" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  {{ else if .IncorrectUnOrPass }}
  <!-- Wrong Usernamen or Password -->
  <br />
  <br />
  <h1>The F.R.E.D. Banking System!</h1>
  <h2>Friendship, Reliability, Experience, Drive</h2>
  <br />
  <br />
  <div class="container pr-3 pl-3">
    <p1 style="color:red">
      Incorrect Username or Password. Please try again!
    </p1>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="inputUsernamee" placeholder="Incorect usernamen" />
      </div>
      <div class="form-group">
        <label for="inputPassword4">Password</label>
        <input type="password" name="pw" class="form-control" id="inputPassword4" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <br />
  <br />
  {{ else if .Loggedin }}
  <!-- User has signed in here -->
  <!-- Display table for user information -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">The F.R.E.D. Banking System!</a>
    <form action="/logout" method="POST">
        <button class="btn btn-danger" type="submit">Logout</button><br>
      </form>
</nav>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">UserID</th>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
      </tr>
    </thead>
    <tbody>
      <td>{{ .ID }}</td>
      <td>{{ .Username }}</td>
      <td>{{ .Fname }}</td>
      <td>{{ .Lname }}</td>
    </tbody>
  </table>
  <!-- Display table for user accounts -->
  <table>
    <thead>
      <th>Account Number |</th>
      <th> User Associated ID |</th>
      <th> Account Type |</th>
      <th> Account Balance</th>
    </thead>
    <tbody>
      {{ range $key, $value := .Accounts }}
      <tr>
        <td>{{ $value.AccNum }}</td>
        <td>{{ $value.UsrID }}</td>
        <td>{{ $value.AccType }}</td>
        <td>$ {{ $value.AccBal }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  <br />
  <h1>Withdraw/Deposit</h1>
  <!-- giving dropdown option to select Withdraw/deposit -->
  <form action="/depwit">
    <table>
      <thead>
        <th>Deposit/Withdraw |</th>
        <th> Select Account |</th>
        <th> Amount to Withdraw or Deposit |</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <select name="depwith">
              <option value="Deposit">Deposit</option>
              <option value="Withdraw">Withdraw</option>
            </select>
          </td>
          <td>
            <select name="accselect">
              {{ range $key, $value := .Accounts }}
              <option>{{ $value.AccNum }}</option>
              {{ end }}
            </select>
          </td>
          <td>
            Amount: $ <input type="text" name="value" placeholder="500"><br>
          </td>
        </tr>
      </tbody>
    </table>
    <input type="submit" value="Submit">
  </form>

  <!-- if anythign goes wrong -->
  {{ else }}
  <br />
  <br />
  <h1>The F.R.E.D. Banking System!</h1>
  <h2>Friendship, Reliability, Experience, Drive</h2>
  <br />
  <br />
  <div class="container pr-3 pl-3">
    <p1 style="color:red">
      Incorrect Username or Password. Please try again!
    </p1>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="inputUsernamee" placeholder="Incorect usernamen" />
      </div>
      <div class="form-group">
        <label for="inputPassword4">Password</label>
        <input type="password" name="pw" class="form-control" id="inputPassword4" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <br />
  <br />
  {{ end }}
  <!--STYLING--------------------------------------------------------------------------------------------- -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>